<fieldset class="form__divider" [disabled]="parent.isPreview()">
  <legend class="h2">Anschrift</legend>

  <div class="form__row">
    <div ngClass="form__column" [class.form__column--long]="!parent.isPreview()"
         [class.form__column--half]="parent.isPreview()">
      <label for="mf-street">Straße (Hauptwohnsitz)</label>
      <input id="mf-street" name="createMemberStep2[street]"
             type="text"
             placeholder="Straße" [ngModel]="parent.data.contact.street"
             (ngModelChange)="parent.data.contact.street = $event" required/>
    </div>

    <div class="form__column" [class.form__column--short]="!parent.isPreview()"
         [class.form__column--half]="parent.isPreview()">
      <label for="mf-housenumber">Nummer</label>
      <input id="mf-housenumber" name="createMemberStep2[houseNumber]"
             type="text"
             pattern="[0-9a-zA-Z\+\-\/ ]*"
             placeholder="Nummer" [ngModel]="parent.data.contact.number"
             (ngModelChange)="parent.data.contact.number = $event" required/>
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <label for="mf-extrastreet">Adresszusatz</label>
      <input id="mf-extrastreet" name="createMemberStep2[extraStreet]"
             type="text"
             placeholder="Adresszusatz" value="" [ngModel]="parent.data.contact.amandment"
             (ngModelChange)="parent.data.contact.amandment = $event"/>
    </div>
  </div>

  <div class="form__row">
    <div class="form__column" [class.form__column--short]="!parent.isPreview()"
         [class.form__column--half]="parent.isPreview()">
      <label for="mf-postal-code">PLZ</label>
      <input id="mf-postal-code" name="createMemberStep2[postalCode]"
             type="text"
             pattern="[0-9a-zA-Z]*"
             placeholder="PLZ" value="" required [ngModel]="parent.data.contact.zipcode"
             (ngModelChange)="parent.data.contact.zipcode = $event"/>
    </div>

    <div class="form__column" [class.form__column--long]="!parent.isPreview()"
         [class.form__column--half]="parent.isPreview()">
      <label for="mf-city">Ort</label>
      <input id="mf-city" name="createMemberStep2[city]"
             type="text"
             placeholder="Ort" value="" required [ngModel]="parent.data.contact.city"
             (ngModelChange)="parent.data.contact.city = $event"/>
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <label for="mf-country">Land</label>
      <select id="mf-country" name="createMemberStep2[country]" required [ngModel]="parent.data.contact.country"
              (ngModelChange)="parent.data.contact.country = $event">
        <option value="">(wählen)</option>
        <option value="Ägypten">
          Ägypten
        </option>
        <option value="Äquatorialguinea">
          Äquatorialguinea
        </option>
        <option value="Äthiopien">
          Äthiopien
        </option>
        <option value="Afghanistan">
          Afghanistan
        </option>
        <option value="Albanien">
          Albanien
        </option>
        <option value="Algerien">
          Algerien
        </option>
        <option value="Andorra">
          Andorra
        </option>
        <option value="Angola">
          Angola
        </option>
        <option value="Anguilla">
          Anguilla
        </option>
        <option value="Antarktis">
          Antarktis
        </option>
        <option value="Antigua und Barbuda">
          Antigua und Barbuda
        </option>
        <option value="Argentinien">
          Argentinien
        </option>
        <option value="Armenien">
          Armenien
        </option>
        <option value="Aruba">
          Aruba
        </option>
        <option value="Aserbaidschan">
          Aserbaidschan
        </option>
        <option value="Australien">
          Australien
        </option>
        <option value="Bahamas">
          Bahamas
        </option>
        <option value="Bahrain">
          Bahrain
        </option>
        <option value="Bangladesh">
          Bangladesh
        </option>
        <option value="Barbados">
          Barbados
        </option>
        <option value="Belgien">
          Belgien
        </option>
        <option value="Belize">
          Belize
        </option>
        <option value="Benin">
          Benin
        </option>
        <option value="Bermudas">
          Bermudas
        </option>
        <option value="Bhutan">
          Bhutan
        </option>
        <option value="Birma">
          Birma
        </option>
        <option value="Bolivien">
          Bolivien
        </option>
        <option value="Bosnien-Herzegowina">
          Bosnien-Herzegowina
        </option>
        <option value="Botswana">
          Botswana
        </option>
        <option value="Bouvet Inseln">
          Bouvet Inseln
        </option>
        <option value="Brasilien">
          Brasilien
        </option>
        <option value="Britisch-Indischer Ozean">
          Britisch-Indischer Ozean
        </option>
        <option value="Brunei">
          Brunei
        </option>
        <option value="Bulgarien">
          Bulgarien
        </option>
        <option value="Burkina Faso">
          Burkina Faso
        </option>
        <option value="Burundi">
          Burundi
        </option>
        <option value="Chile">
          Chile
        </option>
        <option value="China">
          China
        </option>
        <option value="Cook Inseln">
          Cook Inseln
        </option>
        <option value="Costa Rica">
          Costa Rica
        </option>
        <option value="Dänemark">
          Dänemark
        </option>
        <option value="Deutschland" selected>
          Deutschland
        </option>
        <option value="Djibuti">
          Djibuti
        </option>
        <option value="Dominikanische Republik">
          Dominikanische Republik
        </option>
        <option value="Ecuador">
          Ecuador
        </option>
        <option value="Elfenbeinküste">
          Elfenbeinküste
        </option>
        <option value="El Salvador">
          El Salvador
        </option>
        <option value="Eritrea">
          Eritrea
        </option>
        <option value="Estland">
          Estland
        </option>
        <option value="Falkland Inseln">
          Falkland Inseln
        </option>
        <option value="Fidschi">
          Fidschi
        </option>
        <option value="Finnland">
          Finnland
        </option>
        <option value="Frankreich">
          Frankreich
        </option>
        <option value="Gabun">
          Gabun
        </option>
        <option value="Gambia">
          Gambia
        </option>
        <option value="Georgien">
          Georgien
        </option>
        <option value="Ghana">
          Ghana
        </option>
        <option value="Gibraltar">
          Gibraltar
        </option>
        <option value="Grenada">
          Grenada
        </option>
        <option value="Griechenland">
          Griechenland
        </option>
        <option value="Grönland">
          Grönland
        </option>
        <option value="Großbritannien (UK)">
          Großbritannien (UK)
        </option>
        <option value="Guam">
          Guam
        </option>
        <option value="Guatemala">
          Guatemala
        </option>
        <option value="Guernsey">
          Guernsey
        </option>
        <option value="Guinea">
          Guinea
        </option>
        <option value="Guinea Bissau">
          Guinea Bissau
        </option>
        <option value="Guyana">
          Guyana
        </option>
        <option value="Haiti">
          Haiti
        </option>
        <option value="Heard und McDonald Islands">
          Heard und McDonald Islands
        </option>
        <option value="Honduras">
          Honduras
        </option>
        <option value="Hong Kong">
          Hong Kong
        </option>
        <option value="Indien">
          Indien
        </option>
        <option value="Indonesien">
          Indonesien
        </option>
        <option value="Insel Man">
          Insel Man
        </option>
        <option value="Irak">
          Irak
        </option>
        <option value="Iran">
          Iran
        </option>
        <option value="Irland">
          Irland
        </option>
        <option value="Island">
          Island
        </option>
        <option value="Israel">
          Israel
        </option>
        <option value="Italien">
          Italien
        </option>
        <option value="Jamaika">
          Jamaika
        </option>
        <option value="Japan">
          Japan
        </option>
        <option value="Jemen">
          Jemen
        </option>
        <option value="Jersey">
          Jersey
        </option>
        <option value="Jordanien">
          Jordanien
        </option>
        <option value="Jugoslawien">
          Jugoslawien
        </option>
        <option value="Kambodscha">
          Kambodscha
        </option>
        <option value="Kamerun">
          Kamerun
        </option>
        <option value="Kanada">
          Kanada
        </option>
        <option value="Kap Verde">
          Kap Verde
        </option>
        <option value="Kasachstan">
          Kasachstan
        </option>
        <option value="Kenia">
          Kenia
        </option>
        <option value="Kirgisistan">
          Kirgisistan
        </option>
        <option value="Kiribati">
          Kiribati
        </option>
        <option value="Kolumbien">
          Kolumbien
        </option>
        <option value="Komoren">
          Komoren
        </option>
        <option value="Kongo">
          Kongo
        </option>
        <option value="Kosovo">
          Kosovo
        </option>
        <option value="Kroatien">
          Kroatien
        </option>
        <option value="Kuba">
          Kuba
        </option>
        <option value="Kuwait">
          Kuwait
        </option>
        <option value="Laos">
          Laos
        </option>
        <option value="Lesotho">
          Lesotho
        </option>
        <option value="Lettland">
          Lettland
        </option>
        <option value="Libanon">
          Libanon
        </option>
        <option value="Liberia">
          Liberia
        </option>
        <option value="Libyen">
          Libyen
        </option>
        <option value="Liechtenstein">
          Liechtenstein
        </option>
        <option value="Litauen">
          Litauen
        </option>
        <option value="Luxemburg">
          Luxemburg
        </option>
        <option value="Macao">
          Macao
        </option>
        <option value="Madagaskar">
          Madagaskar
        </option>
        <option value="Malawi">
          Malawi
        </option>
        <option value="Malaysia">
          Malaysia
        </option>
        <option value="Malediven">
          Malediven
        </option>
        <option value="Mali">
          Mali
        </option>
        <option value="Malta">
          Malta
        </option>
        <option value="Marianen">
          Marianen
        </option>
        <option value="Marokko">
          Marokko
        </option>
        <option value="Marshall Inseln">
          Marshall Inseln
        </option>
        <option value="Mauretanien">
          Mauretanien
        </option>
        <option value="Mauritius">
          Mauritius
        </option>
        <option value="Mayotte">
          Mayotte
        </option>
        <option value="Mazedonien">
          Mazedonien
        </option>
        <option value="Mexiko">
          Mexiko
        </option>
        <option value="Mikronesien">
          Mikronesien
        </option>
        <option value="Minor Outl.Ins.">
          Minor Outl.Ins.
        </option>
        <option value="Mocambique">
          Mocambique
        </option>
        <option value="Moldavien">
          Moldavien
        </option>
        <option value="Monaco">
          Monaco
        </option>
        <option value="Mongolei">
          Mongolei
        </option>
        <option value="Montenegro">
          Montenegro
        </option>
        <option value="Montserrat">
          Montserrat
        </option>
        <option value="Namibia">
          Namibia
        </option>
        <option value="Nauru">
          Nauru
        </option>
        <option value="Nepal">
          Nepal
        </option>
        <option value="Neukaledonien">
          Neukaledonien
        </option>
        <option value="Neuseeland">
          Neuseeland
        </option>
        <option value="Nicaragua">
          Nicaragua
        </option>
        <option value="Niederlande">
          Niederlande
        </option>
        <option value="Niger">
          Niger
        </option>
        <option value="Nigeria">
          Nigeria
        </option>
        <option value="Niue">
          Niue
        </option>
        <option value="Nord Korea">
          Nord Korea
        </option>
        <option value="Norfolk Inseln">
          Norfolk Inseln
        </option>
        <option value="Norwegen">
          Norwegen
        </option>
        <option value="Österreich">
          Österreich
        </option>
        <option value="Oman">
          Oman
        </option>
        <option value="Pakistan">
          Pakistan
        </option>
        <option value="Palästina">
          Palästina
        </option>
        <option value="Palau">
          Palau
        </option>
        <option value="Panama">
          Panama
        </option>
        <option value="Papua Neuguinea">
          Papua Neuguinea
        </option>
        <option value="Paraguay">
          Paraguay
        </option>
        <option value="Peru">
          Peru
        </option>
        <option value="Philippinen">
          Philippinen
        </option>
        <option value="Pitcairn">
          Pitcairn
        </option>
        <option value="Polen">
          Polen
        </option>
        <option value="Portugal">
          Portugal
        </option>
        <option value="Qatar">
          Qatar
        </option>
        <option value="Ruanda">
          Ruanda
        </option>
        <option value="Rumänien">
          Rumänien
        </option>
        <option value="Rußland">
          Rußland
        </option>
        <option value="Saint Lucia">
          Saint Lucia
        </option>
        <option value="Sambia">
          Sambia
        </option>
        <option value="Samoa">
          Samoa
        </option>
        <option value="San Marino">
          San Marino
        </option>
        <option value="Santa Lucia">
          Santa Lucia
        </option>
        <option value="Sao Tome">
          Sao Tome
        </option>
        <option value="Saudi Arabien">
          Saudi Arabien
        </option>
        <option value="Schweden">
          Schweden
        </option>
        <option value="Schweiz">
          Schweiz
        </option>
        <option value="Senegal">
          Senegal
        </option>
        <option value="Serbien">
          Serbien
        </option>
        <option value="Serbien und Montenegro">
          Serbien und Montenegro
        </option>
        <option value="Seychellen">
          Seychellen
        </option>
        <option value="Sierra Leone">
          Sierra Leone
        </option>
        <option value="Singapur">
          Singapur
        </option>
        <option value="Slowakei -slowakische Republik-">
          Slowakei -slowakische Republik-
        </option>
        <option value="Slowenien">
          Slowenien
        </option>
        <option value="Solomon Inseln">
          Solomon Inseln
        </option>
        <option value="Somalia">
          Somalia
        </option>
        <option value="Sonstige">
          Sonstige
        </option>
        <option value="Spanien">
          Spanien
        </option>
        <option value="Sri Lanka">
          Sri Lanka
        </option>
        <option value="St. Helena">
          St. Helena
        </option>
        <option value="St. Kitts Nevis Anguilla">
          St. Kitts Nevis Anguilla
        </option>
        <option value="St. Vincent">
          St. Vincent
        </option>
        <option value="Sudan">
          Sudan
        </option>
        <option value="Südafrika">
          Südafrika
        </option>
        <option value="Süd Korea">
          Süd Korea
        </option>
        <option value="Surinam">
          Surinam
        </option>
        <option value="Svalbard und Jan Mayen Islands">
          Svalbard und Jan Mayen Islands
        </option>
        <option value="Swasiland">
          Swasiland
        </option>
        <option value="Syrien">
          Syrien
        </option>
        <option value="Tadschikistan">
          Tadschikistan
        </option>
        <option value="Taiwan">
          Taiwan
        </option>
        <option value="Tansania">
          Tansania
        </option>
        <option value="Thailand">
          Thailand
        </option>
        <option value="Timor">
          Timor
        </option>
        <option value="Togo">
          Togo
        </option>
        <option value="Tokelau">
          Tokelau
        </option>
        <option value="Tonga">
          Tonga
        </option>
        <option value="Trinidad Tobago">
          Trinidad Tobago
        </option>
        <option value="Tschad">
          Tschad
        </option>
        <option value="Tschechische Republik">
          Tschechische Republik
        </option>
        <option value="Türkei">
          Türkei
        </option>
        <option value="Tunesien">
          Tunesien
        </option>
        <option value="Turkmenistan">
          Turkmenistan
        </option>
        <option value="Turks und Kaikos Inseln">
          Turks und Kaikos Inseln
        </option>
        <option value="Tuvalu">
          Tuvalu
        </option>
        <option value="Uganda">
          Uganda
        </option>
        <option value="Ukraine">
          Ukraine
        </option>
        <option value="Ungarn">
          Ungarn
        </option>
        <option value="Uruguay">
          Uruguay
        </option>
        <option value="Usbekistan">
          Usbekistan
        </option>
        <option value="Vanuatu">
          Vanuatu
        </option>
        <option value="Vatikan">
          Vatikan
        </option>
        <option value="Venezuela">
          Venezuela
        </option>
        <option value="Vereinigte Arabische Emirate">
          Vereinigte Arabische Emirate
        </option>
        <option value="Vereinigte Staaten von Amerika">
          Vereinigte Staaten von Amerika
        </option>
        <option value="Vietnam">
          Vietnam
        </option>
        <option value="Wallis et Futuna">
          Wallis et Futuna
        </option>
        <option value="Weißrußland">
          Weißrußland
        </option>
        <option value="Westsahara">
          Westsahara
        </option>
        <option value="Zaire">
          Zaire
        </option>
        <option value="Zentralafrikanische Republik">
          Zentralafrikanische Republik
        </option>
        <option value="Zimbabwe">
          Zimbabwe
        </option>
        <option value="Zypern">
          Zypern
        </option>
      </select>
    </div>
  </div>
</fieldset>

<fieldset *ngIf="!parent.isPreview()">
  <legend class="h2">Weitere persönliche Angaben</legend>
  <fieldset>
    <div class="form__row">
      <div class="form__column">
        <label for="mf-nationality">Staatsangehörigkeit</label>
        <select id="mf-nationality" name="createMemberStep2[nationality]" required
                [ngModel]="parent.data.birthdates.citizenship" (ngModelChange)="parent.data.birthdates.citizenship = $event">
          <option value="">(wählen)</option>
          <option value="Ägyptisch">
            Ägyptisch
          </option>
          <option value="Äquatorialguine">
            Äquatorialguine
          </option>
          <option value="Äthiopisch">
            Äthiopisch
          </option>
          <option value="Afghanisch">
            Afghanisch
          </option>
          <option value="AI Anguilla">
            AI Anguilla
          </option>
          <option value="Albanisch">
            Albanisch
          </option>
          <option value="Algerisch">
            Algerisch
          </option>
          <option value="Amerikanisch">
            Amerikanisch
          </option>
          <option value="Amerikanisch(USA)">
            Amerikanisch(USA)
          </option>
          <option value="Andorranisch">
            Andorranisch
          </option>
          <option value="Angolanisch">
            Angolanisch
          </option>
          <option value="Antiguanisch">
            Antiguanisch
          </option>
          <option value="AQ Antarctica">
            AQ Antarctica
          </option>
          <option value="Argentinisch">
            Argentinisch
          </option>
          <option value="Armenisch">
            Armenisch
          </option>
          <option value="Aserbaidschanis">
            Aserbaidschanis
          </option>
          <option value="Australisch">
            Australisch
          </option>
          <option value="AW Aruba">
            AW Aruba
          </option>
          <option value="BA Bosnien-Herz.">
            BA Bosnien-Herz.
          </option>
          <option value="Bahrainisch">
            Bahrainisch
          </option>
          <option value="Barbadisch">
            Barbadisch
          </option>
          <option value="BD Bangladesh">
            BD Bangladesh
          </option>
          <option value="Belgisch">
            Belgisch
          </option>
          <option value="Belisisch">
            Belisisch
          </option>
          <option value="Beninisch">
            Beninisch
          </option>
          <option value="Bermudisch">
            Bermudisch
          </option>
          <option value="BF Burkina-Faso">
            BF Burkina-Faso
          </option>
          <option value="Bhutanisch">
            Bhutanisch
          </option>
          <option value="Bolivianisch">
            Bolivianisch
          </option>
          <option value="Botsuanisch">
            Botsuanisch
          </option>
          <option value="Brasilianisch">
            Brasilianisch
          </option>
          <option value="Britisch">
            Britisch
          </option>
          <option value="Brunesisch">
            Brunesisch
          </option>
          <option value="BS Bahamas">
            BS Bahamas
          </option>
          <option value="Bulgarisch">
            Bulgarisch
          </option>
          <option value="Burundisch">
            Burundisch
          </option>
          <option value="BV Bouvet Inseln">
            BV Bouvet Inseln
          </option>
          <option value="BY Weissrussland">
            BY Weissrussland
          </option>
          <option value="Chilenisch">
            Chilenisch
          </option>
          <option value="Chinesisch">
            Chinesisch
          </option>
          <option value="CK Cookinseln">
            CK Cookinseln
          </option>
          <option value="Costaricanisch">
            Costaricanisch
          </option>
          <option value="d. Verein. Arab">
            d. Verein. Arab
          </option>
          <option value="Dänisch">
            Dänisch
          </option>
          <option value="Deutsch" selected>
            Deutsch
          </option>
          <option value="Dominikanisch">
            Dominikanisch
          </option>
          <option value="Dschibutisch">
            Dschibutisch
          </option>
          <option value="Ecuadorianisch">
            Ecuadorianisch
          </option>
          <option value="Eritreisch">
            Eritreisch
          </option>
          <option value="Estnisch">
            Estnisch
          </option>
          <option value="Fidschianisch">
            Fidschianisch
          </option>
          <option value="Finnisch">
            Finnisch
          </option>
          <option value="FK Falklandinseln">
            FK Falklandinseln
          </option>
          <option value="Französisch">
            Französisch
          </option>
          <option value="Gabunisch">
            Gabunisch
          </option>
          <option value="Gambisch">
            Gambisch
          </option>
          <option value="Georgisch">
            Georgisch
          </option>
          <option value="Ghanaisch">
            Ghanaisch
          </option>
          <option value="GI Gibraltar">
            GI Gibraltar
          </option>
          <option value="Grenadisch">
            Grenadisch
          </option>
          <option value="Griechisch">
            Griechisch
          </option>
          <option value="Grönländisch">
            Grönländisch
          </option>
          <option value="Guatemaltekisch">
            Guatemaltekisch
          </option>
          <option value="Guernsey">
            Guernsey
          </option>
          <option value="Guineisch">
            Guineisch
          </option>
          <option value="Guyanisch">
            Guyanisch
          </option>
          <option value="GW Guinea-Bissau">
            GW Guinea-Bissau
          </option>
          <option value="Haitianisch">
            Haitianisch
          </option>
          <option value="HK Hongkong">
            HK Hongkong
          </option>
          <option value="HM Heard/McDon.Ins">
            HM Heard/McDon.Ins
          </option>
          <option value="Honduranisch">
            Honduranisch
          </option>
          <option value="Indisch">
            Indisch
          </option>
          <option value="Indonesisch">
            Indonesisch
          </option>
          <option value="Insel Man">
            Insel Man
          </option>
          <option value="IO Brit.Geb.Ind.Oz">
            IO Brit.Geb.Ind.Oz
          </option>
          <option value="Irakisch">
            Irakisch
          </option>
          <option value="Iranisch">
            Iranisch
          </option>
          <option value="Irisch">
            Irisch
          </option>
          <option value="Isländisch">
            Isländisch
          </option>
          <option value="Israelisch">
            Israelisch
          </option>
          <option value="Italienisch">
            Italienisch
          </option>
          <option value="Ivorisch">
            Ivorisch
          </option>
          <option value="Jamaikanisch">
            Jamaikanisch
          </option>
          <option value="Japanisch">
            Japanisch
          </option>
          <option value="Jemenitisch">
            Jemenitisch
          </option>
          <option value="Jersey">
            Jersey
          </option>
          <option value="Jordanisch">
            Jordanisch
          </option>
          <option value="Jugoslawisch">
            Jugoslawisch
          </option>
          <option value="Kambodschanisch">
            Kambodschanisch
          </option>
          <option value="Kamerunisch">
            Kamerunisch
          </option>
          <option value="Kanadisch">
            Kanadisch
          </option>
          <option value="Kapverdisch">
            Kapverdisch
          </option>
          <option value="Kasachisch">
            Kasachisch
          </option>
          <option value="Kenianisch">
            Kenianisch
          </option>
          <option value="Kirgisisch">
            Kirgisisch
          </option>
          <option value="Kiribatisch">
            Kiribatisch
          </option>
          <option value="Kolumbianisch">
            Kolumbianisch
          </option>
          <option value="Komorisch">
            Komorisch
          </option>
          <option value="Kongolesisch">
            Kongolesisch
          </option>
          <option value="Koreanisch(Nordkorea)">
            Koreanisch(Nordkorea)
          </option>
          <option value="Koreanisch(Südkorea)">
            Koreanisch(Südkorea)
          </option>
          <option value="Kosovarisch">
            Kosovarisch
          </option>
          <option value="Kroatisch">
            Kroatisch
          </option>
          <option value="Kubanisch">
            Kubanisch
          </option>
          <option value="Kuwaitisch">
            Kuwaitisch
          </option>
          <option value="Laotisch">
            Laotisch
          </option>
          <option value="Lesothisch">
            Lesothisch
          </option>
          <option value="Lettisch">
            Lettisch
          </option>
          <option value="Libanesisch">
            Libanesisch
          </option>
          <option value="Liberianisch">
            Liberianisch
          </option>
          <option value="Libysch">
            Libysch
          </option>
          <option value="Liechtensteinis">
            Liechtensteinis
          </option>
          <option value="Litauisch">
            Litauisch
          </option>
          <option value="Lucianisch">
            Lucianisch
          </option>
          <option value="Luxemburgisch">
            Luxemburgisch
          </option>
          <option value="Madagassisch">
            Madagassisch
          </option>
          <option value="Malawisch">
            Malawisch
          </option>
          <option value="Malayisch">
            Malayisch
          </option>
          <option value="Maledivisch">
            Maledivisch
          </option>
          <option value="Malisch">
            Malisch
          </option>
          <option value="Maltesisch">
            Maltesisch
          </option>
          <option value="Marianisch">
            Marianisch
          </option>
          <option value="Marokkanisch">
            Marokkanisch
          </option>
          <option value="Mauretanisch">
            Mauretanisch
          </option>
          <option value="Mauritisch">
            Mauritisch
          </option>
          <option value="Mazedonisch">
            Mazedonisch
          </option>
          <option value="Mexikanisch">
            Mexikanisch
          </option>
          <option value="MH Marshall-Insel">
            MH Marshall-Insel
          </option>
          <option value="Micronesisch">
            Micronesisch
          </option>
          <option value="MM Myanmar">
            MM Myanmar
          </option>
          <option value="Moldawisch">
            Moldawisch
          </option>
          <option value="Monegassisch">
            Monegassisch
          </option>
          <option value="Mongolisch">
            Mongolisch
          </option>
          <option value="Montenegrinisch">
            Montenegrinisch
          </option>
          <option value="Mosambikanisch">
            Mosambikanisch
          </option>
          <option value="MS Montserrat">
            MS Montserrat
          </option>
          <option value="Namibisch">
            Namibisch
          </option>
          <option value="Nauruisch">
            Nauruisch
          </option>
          <option value="NC Neukaledonien">
            NC Neukaledonien
          </option>
          <option value="Nepalesisch">
            Nepalesisch
          </option>
          <option value="Neuseeländisch">
            Neuseeländisch
          </option>
          <option value="NF Norfolkinseln">
            NF Norfolkinseln
          </option>
          <option value="Nicaraguanisch">
            Nicaraguanisch
          </option>
          <option value="Niederländisch">
            Niederländisch
          </option>
          <option value="Nigerianisch">
            Nigerianisch
          </option>
          <option value="Nigrisch">
            Nigrisch
          </option>
          <option value="Norwegisch">
            Norwegisch
          </option>
          <option value="NU Niue-Inseln">
            NU Niue-Inseln
          </option>
          <option value="Österreichisch">
            Österreichisch
          </option>
          <option value="Omanisch">
            Omanisch
          </option>
          <option value="Pakistanisch">
            Pakistanisch
          </option>
          <option value="Palästinensisch">
            Palästinensisch
          </option>
          <option value="Panamaisch">
            Panamaisch
          </option>
          <option value="Papua-neuguinei">
            Papua-neuguinei
          </option>
          <option value="Paraguayisch">
            Paraguayisch
          </option>
          <option value="Peruanisch">
            Peruanisch
          </option>
          <option value="Philippinisch">
            Philippinisch
          </option>
          <option value="PN Pitcairn Inseln">
            PN Pitcairn Inseln
          </option>
          <option value="Polnisch">
            Polnisch
          </option>
          <option value="Portugiesisch">
            Portugiesisch
          </option>
          <option value="PW Palau">
            PW Palau
          </option>
          <option value="QA Qatar">
            QA Qatar
          </option>
          <option value="Ruandisch">
            Ruandisch
          </option>
          <option value="Rumänisch">
            Rumänisch
          </option>
          <option value="Russisch">
            Russisch
          </option>
          <option value="Salomonisch">
            Salomonisch
          </option>
          <option value="Salvdorianisch">
            Salvdorianisch
          </option>
          <option value="Sambisch">
            Sambisch
          </option>
          <option value="Samoanisch">
            Samoanisch
          </option>
          <option value="Sanmarinesisch">
            Sanmarinesisch
          </option>
          <option value="Santa Lucia">
            Santa Lucia
          </option>
          <option value="Santomeisch">
            Santomeisch
          </option>
          <option value="Saudiarabisch">
            Saudiarabisch
          </option>
          <option value="Schwedisch">
            Schwedisch
          </option>
          <option value="Schweizerisch">
            Schweizerisch
          </option>
          <option value="Senegalesisch">
            Senegalesisch
          </option>
          <option value="Serbisch">
            Serbisch
          </option>
          <option value="Serbisch-montenegrinisch">
            Serbisch-montenegrinisch
          </option>
          <option value="Seschellisch">
            Seschellisch
          </option>
          <option value="SH St. Helena">
            SH St. Helena
          </option>
          <option value="Sierraleonisch">
            Sierraleonisch
          </option>
          <option value="Simbabwisch">
            Simbabwisch
          </option>
          <option value="Singapurisch">
            Singapurisch
          </option>
          <option value="SJ Svalbard">
            SJ Svalbard
          </option>
          <option value="Slowakisch">
            Slowakisch
          </option>
          <option value="Slowenisch">
            Slowenisch
          </option>
          <option value="Somalisch">
            Somalisch
          </option>
          <option value="Spanisch">
            Spanisch
          </option>
          <option value="Srilankisch">
            Srilankisch
          </option>
          <option value="Sudanesisch">
            Sudanesisch
          </option>
          <option value="Südafrikanisch">
            Südafrikanisch
          </option>
          <option value="Surinamisch">
            Surinamisch
          </option>
          <option value="Swasiländisch">
            Swasiländisch
          </option>
          <option value="Syrisch">
            Syrisch
          </option>
          <option value="Tadschikisch">
            Tadschikisch
          </option>
          <option value="Taiwanesisch">
            Taiwanesisch
          </option>
          <option value="Tansanisch">
            Tansanisch
          </option>
          <option value="TC Turks-,Caicosin">
            TC Turks-,Caicosin
          </option>
          <option value="Thailändisch">
            Thailändisch
          </option>
          <option value="TK Tokelau-Inseln">
            TK Tokelau-Inseln
          </option>
          <option value="Togoisch">
            Togoisch
          </option>
          <option value="Tongaisch">
            Tongaisch
          </option>
          <option value="TP Ost Timor">
            TP Ost Timor
          </option>
          <option value="Tschadisch">
            Tschadisch
          </option>
          <option value="Tschechisch">
            Tschechisch
          </option>
          <option value="Türkisch">
            Türkisch
          </option>
          <option value="Tunesisch">
            Tunesisch
          </option>
          <option value="Turkmenisch">
            Turkmenisch
          </option>
          <option value="Tuvaluisch">
            Tuvaluisch
          </option>
          <option value="Ugandisch">
            Ugandisch
          </option>
          <option value="Ukrainisch">
            Ukrainisch
          </option>
          <option value="UM Minor Outl.Ins.">
            UM Minor Outl.Ins.
          </option>
          <option value="Ungarisch">
            Ungarisch
          </option>
          <option value="Uruguayisch">
            Uruguayisch
          </option>
          <option value="Usbekisch">
            Usbekisch
          </option>
          <option value="v. St. Kitts &amp;">
            v. St. Kitts &amp;
          </option>
          <option value="v. Trinidad &amp; T">
            v. Trinidad &amp; T
          </option>
          <option value="Vanuatisch">
            Vanuatisch
          </option>
          <option value="VA Vatikanstadt">
            VA Vatikanstadt
          </option>
          <option value="Venezolanisch">
            Venezolanisch
          </option>
          <option value="Vietnamesisch">
            Vietnamesisch
          </option>
          <option value="Vincentisch">
            Vincentisch
          </option>
          <option value="Westsahara">
            Westsahara
          </option>
          <option value="WF Wallis,Futuna">
            WF Wallis,Futuna
          </option>
          <option value="YT Mayotte">
            YT Mayotte
          </option>
          <option value="Zairisch">
            Zairisch
          </option>
          <option value="Zentralafrikani">
            Zentralafrikani
          </option>
          <option value="Zyprisch">
            Zyprisch
          </option>
          <option value="Sonstige">
            Sonstige
          </option>
          <option value="Staatenlos">
            Staatenlos
          </option>
        </select>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Geburtsdatum (Tag/Monat/Jahr)</legend>
    <div class="form__row">
      <div class="form__column form__column--short">
        <label for="mf-birthday" class="u-visually-hidden">Tag</label>
        <select title="Tag" id="mf-birthday" name="createMemberStep2[birthDate][day]"
                [ngModel]="parent.data.birthdates.day" (ngModelChange)="parent.data.birthdates.day = $event" required>
          <option value="">(wählen)</option>
          <option value="1">
            1
          </option>
          <option value="2">
            2
          </option>
          <option value="3">
            3
          </option>
          <option value="4">
            4
          </option>
          <option value="5">
            5
          </option>
          <option value="6">
            6
          </option>
          <option value="7">
            7
          </option>
          <option value="8">
            8
          </option>
          <option value="9">
            9
          </option>
          <option value="10">
            10
          </option>
          <option value="11">
            11
          </option>
          <option value="12">
            12
          </option>
          <option value="13">
            13
          </option>
          <option value="14">
            14
          </option>
          <option value="15">
            15
          </option>
          <option value="16">
            16
          </option>
          <option value="17">
            17
          </option>
          <option value="18">
            18
          </option>
          <option value="19">
            19
          </option>
          <option value="20">
            20
          </option>
          <option value="21">
            21
          </option>
          <option value="22">
            22
          </option>
          <option value="23">
            23
          </option>
          <option value="24">
            24
          </option>
          <option value="25">
            25
          </option>
          <option value="26">
            26
          </option>
          <option value="27">
            27
          </option>
          <option value="28">
            28
          </option>
          <option value="29">
            29
          </option>
          <option value="30">
            30
          </option>
          <option value="31">
            31
          </option>
        </select>
      </div>

      <div class="form__column form__column--short">
        <label for="mf-birthmonth" class="u-visually-hidden">Monat</label>
        <select title="Monat" id="mf-birthmonth" name="createMemberStep2[birthDate][month]"
                [ngModel]="parent.data.birthdates.month" (ngModelChange)="parent.data.birthdates.month = $event"
                required>
          <option value="">(wählen)</option>
          <option value="1">
            Januar
          </option>
          <option value="2">
            Februar
          </option>
          <option value="3">
            März
          </option>
          <option value="4">
            April
          </option>
          <option value="5">
            Mai
          </option>
          <option value="6">
            Juni
          </option>
          <option value="7">
            Juli
          </option>
          <option value="8">
            August
          </option>
          <option value="9">
            September
          </option>
          <option value="10">
            Oktober
          </option>
          <option value="11">
            November
          </option>
          <option value="12">
            Dezember
          </option>
        </select>
      </div>

      <div class="form__column form__column--short">
        <label for="mf-birthyear" class="u-visually-hidden">Jahr</label>
        <input title="Jahr" id="mf-birthyear" name="createMemberStep2[birthDate][year]" required
                [ngModel]="parent.data.birthdates.year" (ngModelChange)="parent.data.birthdates.year = $event" type="number" />
      </div>
    </div>
  </fieldset>
</fieldset>

<fieldset  *ngIf="!parent.isPreview()">
  <legend>Geschlecht</legend>
  <div class="form__row">
    <div class="form__column form__column--short form__column--radio">
      <label for="mf-female">Weiblich
        <input id="mf-female" name="createMemberStep2[gender]"
               type="radio"
               value="Frau"
               required [ngModel]="parent.data.birthdates.gender" (ngModelChange)="parent.data.birthdates.gender = $event" />
      </label>
    </div>

    <div class="form__column form__column--short form__column--radio">
      <label for="mf-male">Männlich
        <input id="mf-male" name="createMemberStep2[gender]" type="radio"
               value="Mann"
               required [ngModel]="parent.data.birthdates.gender" (ngModelChange)="parent.data.birthdates.gender = $event" />
      </label>
    </div>
    <div class="form__column form__column--short form__column--radio">
      <label for="mf-male">Keine Angabe
        <input id="mf-other" name="createMemberStep2[gender]" type="radio"
               value="Keine Angabe"
               required [ngModel]="parent.data.birthdates.gender" (ngModelChange)="parent.data.birthdates.gender = $event" />
      </label>
    </div>
  </div>
</fieldset>


<fieldset *ngIf="!parent.isPreview()">
  <legend>Datenschutz</legend>

  <div class="form__row">
    <div class="form__column">
      <p>

        Deine im Rahmen der Mitgliedschaft erhobenen Daten werden von der KSG innerhalb der Organisation im gesetzlich
        zulässigen Umfang für Zwecke der
        Mitgliedschaft, insbesondere zur postalischen Information über politische Themen und Veranstaltungen verarbeitet
        und genutzt. Weitere Informationen
        findest Du in der <a href="https://www.spd.de/site/datenschutz/" target="_blank">KSG-Datenschutzrichtlinie</a>.
      </p>
    </div>
  </div>

  <div class="form__row form__row--margin-bottom">
    <div class="form__column form__column--checkbox">
      <label for="mf-policyagreement">
        <input id="mf-policyagreement" type="checkbox" name="createMemberStep2[privacypolicy]"
               value="1"
               required [ngModel]="parent.data.basic.policyagreement"
               (ngModelChange)="parent.data.basic.policyagreement = $event">
        Ja, ich bin jederzeit
        <a href="https://www.spd.de/site/datenschutz/" target="_blank" title="Datenschutzerklärung">widerruflich</a>
        damit einverstanden, dass die KSG und
        <a href="https://www.spd.de/fileadmin/Dokumente/Servicedokumente/Gliederungen_der_SPD.pdf"
           title="Download SPD Gliederung als PDF" target="_blank">ihre Gliederungen (PDF, 410KB)</a> meine
        E-Mail-Adresse erhalten, um mich per E-Mail zu ihren politischen Themen und Veranstaltungen
        auch der SPD zu benachrichtigen.
      </label>
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <p>
        Beachte auch unsere Hinweise zum
        <a href="https://www.spd.de/site/datenschutz/" target="_blank" title="Datenschutzerklärung">Widerspruchsrecht
          gegen Werbung</a>.
      </p>
    </div>
  </div>

</fieldset>
<fieldset class="form__divider" *ngIf="parent.isPreview()">
  <legend class="h2">Weitere persönliche Angaben</legend>
  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-nationality">Staatsangehörigkeit</label>
      <input id="mf-nationality" class="form__validation-field"
             type="text" disabled name="nationality" [ngModel]="parent.data.birthdates.citizenship"
             (ngModelChange)="parent.data.birthdates.citizenship= $event">
    </div>
    <div class="form__column form__column--half">
      <label for="mf-birth-date">Geburtsdatum</label>
      <input id="mf-birth-date" class="form__validation-field" type="text" disabled name="birthDate" value="{{parent.birthDate()}}">
    </div>
  </div>

  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-gender">Geschlecht</label>
      <input id="mf-gender" class="form__validation-field" type="text" disabled name="gender" [ngModel]="parent.data.birthdates.gender"
             (ngModelChange)="parent.data.birthdates.gender= $event">
    </div>
  </div>
</fieldset>
<input type="hidden" value="4nVHlmWRV6" name="flow_createMember_instance"/>
<input type="hidden" value="2" name="flow_createMember_step"/>
<input type="hidden" value="30CwHNch2OME9s-CGWB-VYid9eHUYNiqPq3oQGmE6II" name="createMemberStep2[_token]"/>

<div class="form__row" *ngIf="!parent.isPreview()">
  <div class="form__column form__column--buttons">
    <a (click)="parent.forward()" ><input type="submit" value="Weiter" [disabled]="parent.duplicateEmail"></a>
    <button type="submit" class="p-button form__back-button" name="flow_createMember_transition"
            value="back" formnovalidate (click)="parent.back()">Zurück
    </button>
  </div>

</div>
<div></div>
