<fieldset *ngIf="!parent.isPreview()">
  <legend class="u-visually-hidden">Mitgliedschaft</legend>

  <fieldset class="form__divider">
    <legend class="h2">Mitgliedsbeitrag</legend>


    <fieldset>
      <legend>Welchen monatlichen Beitrag möchtest Du zahlen?</legend>
      <p>Wähle aus unseren Vorschlägen einen Betrag aus oder lege einen Wunschbetrag fest:</p>

      <div class="form__row">
        <div class="form__column form__column--short form__column--euro">
          <label for="mf-monthly-fee" class="u-visually-hidden">Mein monatlicher Mitgliedsbeitrag <span
            class="u-visually-hidden">(in Euro)</span></label>
          <input id="mf-monthly-fee" placeholder="-,--" lang="de"

                 value="" type="number" step="0.01"
                 name="createMemberStep3[feePerMonth]" [ngModel]="parent.data.payment.memberfee" (ngModelChange)="parent.data.payment.memberfee = $event">
        </div>
      </div>
    </fieldset>

    <div class="form__row">
      <div class="form__column">
        <p class="form__hint">
          Der monatliche Mitgliedsbeitrag für Mitglieder mit steuerpflichtigem
          Einkommen beträgt mindestens 3,50&nbsp;€. Jedes Mitglied wählt im Rahmen
          seines Einkommens eine Beitragsstufe. Für Mitglieder ohne Erwerbseinkommen,
          ohne Pensionen, ohne Renteneinkünfte oder ohne vergleichbare Einkommen
          beträgt der monatliche Mitgliedsbeitrag 2,00&nbsp;€.
        </p>
      </div>
    </div>

    <div class="form__row">
      <div class="form__column form__column--checkbox">
        <label for="mf-minimal-fee">
          <input id="mf-minimal-fee" type="checkbox" name="createMemberStep3[minimumFeeAccepted]"
                 value="1" [ngModel]="parent.data.payment.reduced" (ngModelChange)="parent.data.payment.reduced = $event">

          Ich bin ohne Erwerbseinkommen, ohne Pension, ohne Renteneinkünfte oder ohne vergleichbares Einkommen
          <strong>ODER</strong> ich gehöre einer anderen Partei an, die Mitglied der Sozialdemokratischen Partei Europas
          (SPE) ist und erfülle dieser gegenüber meine Beitragsverpflichtungen.
        </label>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend class="h2">Zahlungsdaten</legend>

    <div class="form__row">
      <div class="form__column">
        <p>
          Ich ermächtige die Kurt Schumacher Gesellschaft e.V. (KSG) , Zahlungen von meinem Konto mittels Lastschrift
          einzuziehen. Zugleich weise
          ich mein Kreditinstitut an, die von der KSG auf mein Konto gezogenen Lastschriften einzulösen. Hinweis: Ich
          kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrags
          verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
          (Gläubiger-Identifikationsnummer und Mandatsreferenz werden separat mitgeteilt.)
        </p>
      </div>
    </div>

    <fieldset>
      <legend>Einzugsrhythmus</legend>
      <div class="form__row">
        <div class="form__column form__column--short form__column--radio">
          <label for="mf-payment-interval-0"><input id="mf-payment-interval-0"
                                                    type="radio" name="createMemberStep3[paymentInterval]"
                                                    value="4" required  [ngModel]="parent.data.payment.rhythm" (ngModelChange)="parent.data.payment.rhythm = $event"> vierteljährlich
          </label>
        </div>
        <div class="form__column form__column--short form__column--radio">
          <label for="mf-payment-interval-1"><input id="mf-payment-interval-1"
                                                    type="radio" name="createMemberStep3[paymentInterval]"
                                                    value="6" required [ngModel]="parent.data.payment.rhythm" (ngModelChange)="parent.data.payment.rhythm = $event"> halbjährlich
          </label>
        </div>
        <div class="form__column form__column--short form__column--radio">
          <label for="mf-payment-interval-2"><input id="mf-payment-interval-2"
                                                    type="radio" name="createMemberStep3[paymentInterval]"
                                                    value="12" required [ngModel]="parent.data.payment.rhythm" (ngModelChange)="parent.data.payment.rhythm = $event"> jährlich
          </label>
        </div>
      </div>
    </fieldset>

    <div class="form__row">
      <div class="form__column">
        <label for="mf-account-owner">Kontoinhaber</label>
        <input id="mf-account-owner" name="createMemberStep3[accountOwner]"
               [ngModel]="parent.data.payment.accountOwner" (ngModelChange)="parent.data.payment.accountOwner = $event"
               type="text" placeholder="Kontoinhaber"
               value="" required />
      </div>
    </div>

    <div class="form__row">
      <div class="form__column">
        <label for="mf-iban" class="p-form-label">IBAN</label>
        <input id="mf-iban"
               name="createMemberStep3[iban]"

               type="text"
               placeholder="IBAN"
               required
               title="22-stellige Kombination aus zwei großen Buchstaben gefolgt von 20 Zahlen"
               [ngModel]="parent.data.payment.iban" (ngModelChange)="parent.data.payment.iban = $event" />
      </div>
    </div>

    <div class="form__row">
      <div class="form__column">
        <label for="mf-bic">BIC (nur im Ausland)</label>
        <input id="mf-bic"
               name="createMemberStep3[bic]"

               type="text"
               placeholder="BIC"
               title="8 bis 11-stellige Kombination aus großen Buchstaben z.B. COBADEFFXXX"
               [ngModel]="parent.data.payment.bic" (ngModelChange)="parent.data.payment.bic = $event" />
      </div>
    </div>
  </fieldset>
</fieldset>

<input type="hidden" value="4nVHlmWRV6" name="flow_createMember_instance"/>
<input type="hidden" value="3" name="flow_createMember_step"/>
<input type="hidden" value="6Gp-WiRe1sn26hrzOaVhITHPFbRZliFkqHWIuxii_C4" name="createMemberStep3[_token]"/>

<div class="form__row" *ngIf="!parent.isPreview()">
  <div class="form__column form__column--buttons">
    <input  (click)="parent.forward()" type="submit" value="Weiter"/>
    <button type="submit" class="p-button form__back-button" name="flow_createMember_transition"
            value="back" formnovalidate (click)="parent.back()" >Zurück
    </button>
  </div>
</div>

<fieldset class="form__divider" *ngIf="parent.isPreview()">
  <legend class="h2">Mitgliedschaft</legend>
  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-fee-per-month">Monatliche Mitgliedschaft</label>
      <input id="mf-fee-per-month" class="form__validation-field" type="text" disabled name="feePerMonth" [ngModel]="parent.data.payment.memberfee" (ngModelChange)="parent.data.payment.memberfee = $event">
    </div>
    <div class="form__column form__column--half">
      <label for="mf-payment-method">Zahlungsweise</label>
      <input id="mf-payment-method" class="form__validation-field" type="text" disabled name="payment-method" value="per Bankeinzug">
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <label for="mf-payment-interval">Einzugsrhythmus aller x Monate</label>
      <input id="mf-payment-interval" class="form__validation-field"
             type="text" disabled name="paymentInterval" [ngModel]="parent.data.payment.rhythm" (ngModelChange)="parent.data.payment.rhythm = $event">
    </div>
  </div>

  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-account-owner">Kontoinhaber</label>
      <input id="mf-account-owner" class="form__validation-field"
             type="text" disabled name="accountOwner" [ngModel]="parent.data.payment.accountOwner" (ngModelChange)="parent.data.payment.accountOwner = $event">
    </div>
    <div class="form__column form__column--half">
      <label for="mf-iban" >IBAN</label>
      <input id="mf-iban" class="form__validation-field" type="text" disabled name="iban" [ngModel]="parent.data.payment.iban" (ngModelChange)="parent.data.payment.iban = $event">
    </div>
  </div>

  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-bic">BIC</label>
      <input id="mf-bic" class="form__validation-field" type="text" disabled name="bic" [ngModel]="parent.data.payment.bic" (ngModelChange)="parent.data.payment.bic = $event" placeholder="keine Angabe">
    </div>
  </div>
</fieldset>

<div></div>





