<fieldset class="form__divider" *ngIf="!parent.isPreview()" >
  <legend class="h2">Vervollständige Deine Mitgliedsdaten</legend>
  <div class="form__row">
    <div class="form__column">
      <p>
        Nutze schon jetzt die Möglichkeit, Dein Profil zu erweitern, damit wir Dich in Zukunft besser informieren können.
        Wenn Du möchtest, kannst Du Deine Daten auch später noch ergänzen.
      </p>
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <label for="mf-employment-relationship">Beschäftigungsverhältnis (optional)</label>
      <select id="mf-employment-relationship" name="createMemberStep4[employmentRelationship]"
              [ngModel]="parent.data.optional.employmentrelationship" (ngModelChange)="parent.data.optional.employmentrelationship = $event" >
        <option value="">(wählen)</option>
        <option value="Angestellte/r" >
          Angestellte/r
        </option>
        <option value="Arbeiter/in bzw. Facharbeiter/in" >
          Arbeiter/in bzw. Facharbeiter/in
        </option>
        <option value="Arbeitslos" >
          Arbeitslos
        </option>
        <option value="Arbeitssuchend" >
          Arbeitssuchend
        </option>
        <option value="Auszubildende/r" >
          Auszubildende/r
        </option>
        <option value="Beamter / Beamtin" >
          Beamter / Beamtin
        </option>
        <option value="Bundesfreiwilligendienst" >
          Bundesfreiwilligendienst
        </option>
        <option value="Doktorand/in" >
          Doktorand/in
        </option>
        <option value="Elternzeit" >
          Elternzeit
        </option>
        <option value="Freiberufler" >
          Freiberufler
        </option>
        <option value="Freiwilliges soziales Jahr (FsJ)" >
          Freiwilliges soziales Jahr (FsJ)
        </option>
        <option value="Geringfügig Beschäftigte/r" >
          Geringfügig Beschäftigte/r
        </option>
        <option value="Hausfrau /-mann" >
          Hausfrau /-mann
        </option>
        <option value="Landwirt/in" >
          Landwirt/in
        </option>
        <option value="Leitende/r Angestellte/r" >
          Leitende/r Angestellte/r
        </option>
        <option value="Pol. Mandatsträger (hauptberuflich)" >
          Pol. Mandatsträger (hauptberuflich)
        </option>
        <option value="Referendar/in" >
          Referendar/in
        </option>
        <option value="Rentner/in bzw. Pensionär/in" >
          Rentner/in bzw. Pensionär/in
        </option>
        <option value="Schüler/in bzw. Student/in" >
          Schüler/in bzw. Student/in
        </option>
        <option value="Selbständig" >
          Selbständig
        </option>
        <option value="Soldat/in / Wehrdienstleistende/r" >
          Soldat/in / Wehrdienstleistende/r
        </option>
        <option value="Unbekanntes Beschäftigungsverhältnis" >
          Unbekanntes Beschäftigungsverhältnis
        </option>
        <option value="Vorruhestand" >
          Vorruhestand
        </option>
      </select>
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <label for="mf-profession">Beruf / beschäftigt bei (optional)</label>
      <input id="mf-profession" name="createMemberStep4[profession]"
             type="text"
             placeholder="Name des Berufs" value=""
             [ngModel]="parent.data.optional.profession" (ngModelChange)="parent.data.optional.profession = $event"/>
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <label for="mf-labour-union">Gewerkschaft (optional)</label>
      <input id="mf-labour-union" name="createMemberStep4[labourUnion]"
             type="text"
             placeholder="Name der Gewerkschaft" value="" [ngModel]="parent.data.optional.tradeunion" (ngModelChange)="parent.data.optional.tradeunion = $event" />
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <label for="mf-former-membership">Frühere Parteimitgliedschaft (optional)</label>
      <input id="mf-former-membership" name="createMemberStep4[formerMembership]"

             type="text"
             placeholder="Name der Partei" value=""
             [ngModel]="parent.data.optional.formerparties" (ngModelChange)="parent.data.optional.formerparties = $event"/>
    </div>
  </div>

  <div class="form__row">
    <div class="form__column">
      <label for="mf-canvasser">Geworben von (optional)</label>
      <input id="mf-canvasser" name="createMemberStep4[canvasser]"
             [ngModel]="parent.data.optional.recruiter" (ngModelChange)="parent.data.optional.recruiter = $event"
             type="text"
             placeholder="Name des Werbers" value=""/>
    </div>
  </div>
</fieldset>

<fieldset *ngIf="!parent.isPreview()">

  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-phone-private">Telefon privat</label>
      <input id="mf-phone-private" name="createMemberStep4[phonePrivate]"
             type="tel"
             placeholder="Telefon privat" value=""
             [ngModel]="parent.data.phone.private" (ngModelChange)="parent.data.phone.private = $event" />
    </div>

    <div class="form__column form__column--half">
      <label for="mf-phone-business">Telefon geschäftlich (optional)</label>
      <input id="mf-phone-business" name="createMemberStep4[phoneBusiness]"
             type="tel"
             placeholder="Telefon geschäftlich" value=""
             [ngModel]="parent.data.phone.buisness" (ngModelChange)="parent.data.phone.buisness = $event" />
    </div>
  </div>

  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-phone-mobile">Mobiltelefon (optional)</label>
      <input id="mf-phone-mobile" name="createMemberStep4[phoneMobile]"
             type="tel"
             placeholder="Mobiltelefon" value=""
             [ngModel]="parent.data.phone.mobile" (ngModelChange)="parent.data.phone.mobile = $event" />
    </div>
  </div>
</fieldset>

<input type="hidden" value="4nVHlmWRV6" name="flow_createMember_instance"/>
<input type="hidden" value="4" name="flow_createMember_step"/>
<input type="hidden" value="RmBABo5GNfftkPdP7G3ldeui8geJC3vCw1tnR9N2NI4" name="createMemberStep4[_token]"/>

<div class="form__row" *ngIf="!parent.isPreview()">
  <div class="form__column form__column--buttons">
    <input type="submit" value="Weiter" (click)="parent.forward()"/>
    <button type="submit" class="p-button form__back-button" name="flow_createMember_transition"
            value="back" formnovalidate (click)="parent.back()">Zurück
    </button>
  </div>
</div>
<fieldset *ngIf="parent.isPreview()">
  <legend class="h2">ergänzende Angaben</legend>
  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-employment-relationship">Beschäftigungsverhältnis</label>
      <input id="mf-employment-relationship" class="form__validation-field" type="text" disabled name="employmentRelationship" value="" placeholder="keine Angabe"
             [ngModel]="parent.data.optional.employmentrelationship" (ngModelChange)="parent.data.optional.employmentrelationship = $event">
    </div>
    <div class="form__column form__column--half">
      <label for="mf-profession">Beruf / beschäftigt bei</label>
      <input id="mf-profession" class="form__validation-field" type="text" disabled name="profession" value="" placeholder="keine Angabe"
             [ngModel]="parent.data.optional.profession" (ngModelChange)="parent.data.optional.profession = $event " >
    </div>
  </div>
  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-labour-union">Gewerkschaft</label>
      <input id="mf-labour-union" class="form__validation-field" type="text" disabled name="labourUnion" value="" placeholder="keine Angabe"
             [ngModel]="parent.data.optional.tradeunion" (ngModelChange)="parent.data.optional.tradeunion = $event" >
    </div>
    <div class="form__column form__column--half">
      <label for="mf-former-membership">Frühere Parteimitgliedschaft</label>
      <input id="mf-former-membership" class="form__validation-field" type="text" disabled name="formerMembership" value="" placeholder="keine Angabe"
             [ngModel]="parent.data.optional.formerparties" (ngModelChange)="parent.data.optional.formerparties = $event">
    </div>
  </div>
  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-canvasser">Geworben von</label>
      <input id="mf-canvasser" class="form__validation-field" type="text" disabled name="canvasser" value="" placeholder="keine Angabe"
             [ngModel]="parent.data.optional.recruiter" (ngModelChange)="parent.data.optional.recruiter = $event" >
    </div>
  </div>
  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-phone-private">Telefon privat</label>
      <input id="mf-phone-private" class="form__validation-field" type="text" disabled name="phonePrivate" value="" placeholder="keine Angabe"
             [ngModel]="parent.data.phone.private" (ngModelChange)="parent.data.phone.private = $event" >
    </div>
    <div class="form__column form__column--half">
      <label for="mf-phone-business">Telefon geschäftlich</label>
      <input id="mf-phone-business" class="form__validation-field" type="text" disabled name="phoneBusiness" value="" placeholder="keine Angabe"
             [ngModel]="parent.data.phone.buisness" (ngModelChange)="parent.data.phone.buisness = $event" >
    </div>
  </div>
  <div class="form__row">
    <div class="form__column form__column--half">
      <label for="mf-phone-mobile">Mobiltelefon</label>
      <input id="mf-phone-mobile" class="form__validation-field"
             type="text" disabled name="phoneMobile" value="" placeholder="keine Angabe"
             [ngModel]="parent.data.phone.mobile" (ngModelChange)="parent.data.phone.mobile = $event" >
    </div>
  </div>
</fieldset>

<div></div>
