<h2 for="mf-token">Token</h2>
<div class="form__row">

  <div class="form__column form__column--short">
    <input id="mf-token" name="createMemberStep4[phonePrivate]"
           placeholder="token" value="" (keyup)="parent.validateToken()"
           [ngModel]="parent.data.token" (ngModelChange)="parent.data.token = $event" />
  </div>
  <div class="form__row" *ngIf="!parent.isPreview()">
    <div class="form__column form__column--buttons form__column--width-buttons">
      <a> <input type="submit" value="weiter" [disabled]="!parent.data.tokenvalid" (click)="forward();"/></a>
    </div>
  </div>
</div>
<div></div>
