<form class="form member-form" name="mainform" id="mf-form"  >

  <section class="form__header">
    <h1>Mitgliederbereich</h1>
    <nav class="progress-tracker" aria-labelledby="progresstrackerHeadline" *ngIf="currentStepNumber > 0 && currentStepNumber < 6">
      <h6 id="progresstrackerHeadline" class="u-visually-hidden">Fortschrittsanzeige:</h6>
      <ol class="progress-tracker__items u-list-style-none">
        <li class="progress-tracker__item" [class.progress-tracker__item--is-active]="currentStepNumber > 0" (click)="goto(1)" >
          <p class="progress-tracker__label" title="Basisdaten">
                        <span class="progress-tracker__label-wrapper">
                                <span class="progress-tracker__label-index">1. Basisdaten</span>
                        </span>
          </p>
        </li>
        <li class="progress-tracker__item" [class.progress-tracker__item--is-active]="currentStepNumber > 1" (click)="goto(2)"  >

          <p class="progress-tracker__label" title="Anschrift">
                        <span class="progress-tracker__label-wrapper">
                                <span class="progress-tracker__label-index">2. Anschrift</span>
                        </span>
          </p>
        </li>
        <li class="progress-tracker__item" [class.progress-tracker__item--is-active]="currentStepNumber > 2"  (click)="goto(3)" >

          <p class="progress-tracker__label" title="Mitgliedschaft">
                        <span class="progress-tracker__label-wrapper">
                                <span class="progress-tracker__label-index">3. Mitgliedschaft</span>
                        </span>
          </p>
        </li>
        <li class="progress-tracker__item" [class.progress-tracker__item--is-active]="currentStepNumber > 3" (click)="goto(4)">

          <p class="progress-tracker__label" title="Optionale Angaben">
                        <span class="progress-tracker__label-wrapper">
                                <span class="progress-tracker__label-index">4. Optionale Angaben</span>
                        </span>
          </p>
        </li>
        <li class="progress-tracker__item" [class.progress-tracker__item--is-active]="currentStepNumber > 4"  (click)="goto(5)" >

          <p class="progress-tracker__label" title="Angaben prüfen">
                        <span class="progress-tracker__label-wrapper">
                                <span class="progress-tracker__label-index">5. Angaben prüfen</span>
                        </span>
          </p>
        </li>
      </ol>
    </nav>

  </section>
  <div class="form__body">
    <app-regiser-formular-token-authentication *ngIf="currentStepNumber == 0"> </app-regiser-formular-token-authentication>
    <app-register-formular-basic-data *ngIf="currentStepNumber == 1"></app-register-formular-basic-data >
    <app-register-formular-adress-data *ngIf="currentStepNumber == 2"></app-register-formular-adress-data>
    <app-register-formular-member-fee *ngIf="currentStepNumber == 3"></app-register-formular-member-fee>
    <app-register-formular-additional-information *ngIf="currentStepNumber == 4"></app-register-formular-additional-information>
    <div class="confirmation" *ngIf="currentStepNumber==5">
      <legend class="h2">Bitte prüfe Deine Angaben!</legend>
      <app-register-formular-basic-data ></app-register-formular-basic-data >
      <app-register-formular-adress-data ></app-register-formular-adress-data>
      <app-register-formular-member-fee ></app-register-formular-member-fee>
      <app-register-formular-additional-information ></app-register-formular-additional-information>
      <div class="form__row">
        <div class="form__column form__column--buttons form__column--width-buttons">
          <input type="submit" value="Jetzt Daten aktualisieren" (click)="send()" />
        </div>
      </div>

      <div class="form__row">
        <div class="form__column form__column--buttons form__column--width-buttons">
          <button type="submit" class="p-button form__back-button" name="flow_createMember_transition"
                  value="back" formnovalidate (click)="back()">Zurück
          </button>
        </div>
      </div>
    </div>
      <app-register-formular-gratification *ngIf="currentStepNumber == 6" ></app-register-formular-gratification >
  </div>
</form>
