.icon {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 32px;
  position: relative;
  text-align: center;
}

.confetti {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.confetti-piece {
  position: absolute;
  width: 8px;
  height: 16px;
  background: #ffd300;
  top: 0;
  opacity: 0;
}
.confetti-piece:nth-child(1) {
  left: 7%;
  -webkit-transform: rotate(-54deg);
  transform: rotate(-54deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 185ms;
  animation-delay: 185ms;
  -webkit-animation-duration: 1067ms;
  animation-duration: 1067ms;
}
.confetti-piece:nth-child(2) {
  left: 14%;
  -webkit-transform: rotate(54deg);
  transform: rotate(54deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 271ms;
  animation-delay: 271ms;
  -webkit-animation-duration: 1182ms;
  animation-duration: 1182ms;
}
.confetti-piece:nth-child(3) {
  left: 21%;
  -webkit-transform: rotate(75deg);
  transform: rotate(75deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 231ms;
  animation-delay: 231ms;
  -webkit-animation-duration: 1045ms;
  animation-duration: 1045ms;
}
.confetti-piece:nth-child(4) {
  left: 28%;
  -webkit-transform: rotate(-16deg);
  transform: rotate(-16deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 249ms;
  animation-delay: 249ms;
  -webkit-animation-duration: 807ms;
  animation-duration: 807ms;
}
.confetti-piece:nth-child(5) {
  left: 35%;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 96ms;
  animation-delay: 96ms;
  -webkit-animation-duration: 1026ms;
  animation-duration: 1026ms;
}
.confetti-piece:nth-child(6) {
  left: 42%;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 336ms;
  animation-delay: 336ms;
  -webkit-animation-duration: 1021ms;
  animation-duration: 1021ms;
}
.confetti-piece:nth-child(7) {
  left: 49%;
  -webkit-transform: rotate(56deg);
  transform: rotate(56deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 127ms;
  animation-delay: 127ms;
  -webkit-animation-duration: 1081ms;
  animation-duration: 1081ms;
}
.confetti-piece:nth-child(8) {
  left: 56%;
  -webkit-transform: rotate(36deg);
  transform: rotate(36deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 186ms;
  animation-delay: 186ms;
  -webkit-animation-duration: 822ms;
  animation-duration: 822ms;
}
.confetti-piece:nth-child(9) {
  left: 63%;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 301ms;
  animation-delay: 301ms;
  -webkit-animation-duration: 847ms;
  animation-duration: 847ms;
}
.confetti-piece:nth-child(10) {
  left: 70%;
  -webkit-transform: rotate(-67deg);
  transform: rotate(-67deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 289ms;
  animation-delay: 289ms;
  -webkit-animation-duration: 1108ms;
  animation-duration: 1108ms;
}
.confetti-piece:nth-child(11) {
  left: 77%;
  -webkit-transform: rotate(-32deg);
  transform: rotate(-32deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 91ms;
  animation-delay: 91ms;
  -webkit-animation-duration: 1151ms;
  animation-duration: 1151ms;
}
.confetti-piece:nth-child(12) {
  left: 84%;
  -webkit-transform: rotate(16deg);
  transform: rotate(16deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 353ms;
  animation-delay: 353ms;
  -webkit-animation-duration: 974ms;
  animation-duration: 974ms;
}
.confetti-piece:nth-child(13) {
  left: 91%;
  -webkit-transform: rotate(58deg);
  transform: rotate(58deg);
  -webkit-animation: makeItRain 1000ms infinite ease-out;
  animation: makeItRain 1000ms infinite ease-out;
  -webkit-animation-delay: 294ms;
  animation-delay: 294ms;
  -webkit-animation-duration: 866ms;
  animation-duration: 866ms;
}
.confetti-piece:nth-child(odd) {
  background: #17d3ff;
}
.confetti-piece:nth-child(even) {
  z-index: 1;
}
.confetti-piece:nth-child(4n) {
  width: 5px;
  height: 12px;
  -webkit-animation-duration: 2000ms;
  animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
  width: 3px;
  height: 10px;
  -webkit-animation-duration: 2500ms;
  animation-duration: 2500ms;
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
  background: #ff4e91;
}

@-webkit-keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
  }
}
