<fieldset name="contact" >

  <fieldset [disabled]="parent.isPreview()">
    <legend class="h2">Basisdaten</legend>

    <div class="form__row">
      <div class="form__column form__column--half">
        <label for="mf-given-name">Vorname</label>
        <input id="mf-given-name" name="createMemberStep1[givenName]"
               type="text"
               placeholder="Vorname"  required [ngModel]="parent.data.basic.firstname" (ngModelChange)="parent.data.basic.firstname = $event">
      </div>
      <div class="form__column form__column--half">
        <label for="mf-family-name" class="p-form-label">Nachname</label>
        <input id="mf-family-name" name="createMemberStep1[familyName]"
               type="text"
               placeholder="Nachname" required [ngModel]="parent.data.basic.lastname" (ngModelChange)="parent.data.basic.lastname = $event">
      </div>
    </div>

    <div class="form__row">
      <div class="form__column">
        <label for="mf-email">E-Mail</label>
        <input id="mf-email" name="createMemberStep1[email]"
               type="email"
               placeholder="E-Mail"
               title="E-Mail-Adresse angeben nach dem Muster max.mustermann@muster.de"
               pattern="[a-zA-Z0-9._%+-]+@[a-zäüöA-ZÄÜÖ0-9.-]+\.[a-zA-Z]{2,64}$" required [ngModel]="parent.data.basic.email" (ngModelChange)="parent.data.basic.email = $event"
               (keyup)="validateEmail()"
        >
        <p style="color:red" *ngIf="parent.duplicateEmail">Doppelte Email</p>
      </div>
    </div>

    <fieldset *ngIf="!parent.isPreview()">
      <legend class="u-visually-hidden">Zustimmung Kontaktaufnahme</legend>
      <div class="form__row">
        <div class="form__column form__column--checkbox">
          <label for="mf-datadistribution">
            <input id="mf-datadistribution" type="checkbox" name="createMemberStep1[datadistribution]"
                   [ngModel]="parent.data.basic.dataprotect1" (ngModelChange)="parent.data.basic.dataprotect1 = $event" required   />

            Ja, ich bin jederzeit
            <a href="/datenschutz/" title="Datenschutzerklärung" target="_blank">widerruflich</a>
            damit einverstanden, dass die Kurt Schumacher Gesellschaft e.V. mir per E-Mail Informationen zum
            Online-Eintrittsformular und zur Mitgliedschaft
            zusendet.
          </label>
        </div>
      </div>
    </fieldset>

    <div class="form__row" *ngIf="!parent.isPreview()">
      <div class="form__column form__column--buttons form__column--width-buttons">
        <a> <input type="submit" value="einverstanden und weiter" (click)="forward();"/></a>
      </div>
    </div>

  </fieldset>
  <div></div>
</fieldset>

